#star-canvas {
    z-index: 1;
    position: absolute;
}
#text {
    z-index: 2;
    text-align: center;
    top:40%;
    left:20%;
    right:20%;
    color:#fff;
    font-family: 'Helvetica Neue Light', Helvetica, Arial;
    font-size: 40px;
    position:absolute;
    -webkit-transition:opacity 10s ease-out;
    -moz-transition:opacity 10s ease-out;
    transition:opacity 3s ease-out 7s;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.fadeOut {
    opacity:0;
}

